
  <!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>RHS Clubs</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
  <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <!-- This is all the Navbar stuff: -->
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">RHS Clubs</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/explore">Explore</a>
          </li>
          <li class="nav-ite">
            <a class="nav-link" href="#">Calendar</a>
          </li>
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
    <!-- All the main part of the body -->
    <div class="container mt-3 mt-lg-4">
      <div class="row">
        <div class="col-12 col-lg-8">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/" class="text-decoration-none">Home</a></li>
              <li class="breadcrumb-item">
                <a href="/explore" class="text-decoration-none">
                  Nature
                </a>
              </li>
              <li class="breadcrumb-item active" aria-current="page">Bird Club</li>
            </ol>
          </nav>
          <div class="d-flex align-items-center mt-lg-4">
            <img src="/static/icons/bird-club.jpg" class="img-fluid rounded-pill img-thumbnail"
              style="max-width:140px;max-height:140px">
            <div class="ms-5">
              <h1 class="fw-bold">Bird Club</h1>
            </div>
          </div>
          <div class="container-fluid text-secondary">
            <div class="d-flex justify-content-between align-items-center">
              <p class="fw-bold mt-2">Last modified: 3 months ago</p>
              <a class="btn btn-primary btn-sm rounded-pill" href="/login/Bird-Club">
                Edit <i class="bi bi-pen"></i>
              </a>
            </div>
  test desc change.
  </div>
  </div>
  <div class="col-6 col-md-4">
    <div class="card text-center ms-5 shadow">
      <div class="card-header">
        Meeting Dates
      </div>
      <div class="card-body">
        <h5 class="card-title">testing again</h5>
      </div>
    </div>
    <div class="card ms-5 mt-5 shadow">
      <div class="card-body">
        <h5 class="card-title">Reach out to us!</h5>
        <p class="card-text">Check out our socials and contact us if you have any problems!</p>
      </div>
      <ul class="list-group list-group-flush">
  
    <li class="list-group-item">
    <i class="bi bi-google"></i>
      <span class="ms-2 text-primary">aryavrat.mishra@rocklinusd.org</span>
    </li>
    
    <li class="list-group-item">
    <i class="bi bi-discord"></i>
      <span class="ms-2 text-primary">.secretspy</span>
    </li>
    
  </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <h2 class="mt-3">Leadership</h2>
    <div class="row pt-3 px-md-2 px-lg-4 row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4 g-3 g-md-5">
    
    <div class="col">
        <div class="card shadow rounded-pill" style="border:0px">
          <div class="d-flex align-items-center ps-2">
            <div style="width:60px;height:60px" class="text-center rounded-pill bg-info">

              <h3 style="margin-top:23%" class="text-white">AM</h3>

            </div>
            <div>
              <div class="card-body">
                <small class="text-secondary mb-1">Dictator</small>
                <h6 class="card-title mb-0">Aryavrat Mishra</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    <div class="col">
        <div class="card shadow rounded-pill" style="border:0px">
          <div class="d-flex align-items-center ps-2">
            <div style="width:60px;height:60px" class="text-center rounded-pill bg-info">

              <h3 style="margin-top:23%" class="text-white">BD</h3>

            </div>
            <div>
              <div class="card-body">
                <small class="text-secondary mb-1">king</small>
                <h6 class="card-title mb-0">bob david</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    <div class="col">
        <div class="card shadow rounded-pill" style="border:0px">
          <div class="d-flex align-items-center ps-2">
            <div style="width:60px;height:60px" class="text-center rounded-pill bg-info">

              <h3 style="margin-top:23%" class="text-white">K</h3>

            </div>
            <div>
              <div class="card-body">
                <small class="text-secondary mb-1">God</small>
                <h6 class="card-title mb-0">Krishnna</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    
  </div>
    </div>

    <div class="container mt-5">
      <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted">Questions? Email <b>aryavratmishra007@gmail.com</b></p>

        <ul class="nav col-md-4 justify-content-end">
          <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
          <li class="nav-item"><a href="/explore" class="nav-link px-2 text-muted">Explore</a></li>
          <li class="nav-item"><a href="/calendar" class="nav-link px-2 text-muted">Calendar</a></li>
          <li class="nav-item">
            <p class="nav-link px-2 text-decoration-none opacity-75">Credit: Aryavrat Mishra</p>
          </li>
        </ul>
      </footer>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
      integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
  </body>

  </html>
  