<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>RHS Clubs</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.form/4.3.0/jquery.form.min.js" integrity="sha384-qlmct0AOBiA2VPZkMY3+2WqkHtIQ9lSdAsAn5RUJD/3vA5MKDgSGcdmIv4ycVxyn" crossorigin="anonymous"></script>
</head>
<body>
<!-- This is all the Navbar stuff: -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">RHS Clubs</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/explore">Explore</a>
                </li>
                <li class="nav-ite">
                    <a class="nav-link" href="/faq">FAQ</a>
                </li>
            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<!-- All the main part of the body -->
<div class="container mt-3 mt-lg-4">
    <div class="row">
        <div class="col-12 col-lg-8">
            <nav aria-label="breadcrumb" class="d-flex justify-content-between align-items-center">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="/" class="text-decoration-none">Home</a></li>
                    <li class="breadcrumb-item">
                        <a href="/explore" class="text-decoration-none">
                            {{ category }}
                        </a>
                    </li>
                    <li class="breadcrumb-item active" aria-current="page">{{ club_name }}</li>
                </ol>
                <a class="btn btn-primary btn-sm rounded-pill text-white" onclick="update_all()">
                    Save All <i class="bi bi-save"></i>
                </a>
            </nav>
            <div class="d-flex align-items-center mt-lg-4">
                <button type="button" href="#" class="btn btn-link p-0" data-toggle="modal" data-target="#exampleModal">
                    <img src="{{ filename }}" alt="Button Image" class="img-fluid rounded-pill img-thumbnail" style="max-width:140px;max-height:140px">
                </button>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Change Club Icon</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <form id="uploadImage" method="post" action="/" enctype="multipart/form-data">
                                            <div class="form-group">
                                                <label for="uploadFile">File Upload</label>
                                                <div class="input-group">
                                                    <input type="file" name="uploadFile[]" multiple="false" id="uploadFile" accept=".jpg, .png" class="form-control">
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <input type="submit" id="uploadSubmit" value="Upload" class="btn btn-info" />
                                            </div>
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                            <div id="targetLayer" style="display:none;"></div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">
                                Choose a file, upload, and click save!
                                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="update_all()">Save</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="ms-5">
                    <input class="form-control form-control-lg fw-bold" type="text" placeholder="{{ club_name }}" id="club-name">
                    <input class="form-control form-control-md" type="text" placeholder="{{ club_slogan }}" id="club-slogan" data-toggle="tooltip" data-placement="bottom" title="Club slogan">
                </div>
            </div>
            <div class="container-fluid text-secondary">
                <div class="d-flex justify-content-between align-items-center">
                    <p class="fw-bold mt-2">Change your club photo by clicking the image—it's a button!</p>

                </div>
                <textarea class="form-control" style="min-width: 100%;min-height:100%;" rows=10 id="description">
{{ desc }}
</textarea>
            </div>
        </div>
        <div class="col-6 col-md-4">
            <div class="card text-center ms-5 shadow">
                <div class="card-header">
                    Meeting Dates
                </div>
                <div class="card-body">
                    <input class="fw-bold" placeholder="{{ meeting_date }}" id="meeting-dates">
                </div>
            </div>
            <div class="card ms-5 mt-5 shadow">
                <div class="card-body">
                    <h5 class="card-title">Reach out to us!</h5>
                    <p class="card-text">Check out our socials and contact us if you have any problems!</p>
                </div>
                <ul class="list-group list-group-flush">
                    {% for i in range(0, socials_len) %}
                    <li class="list-group-item">
                        <a onclick="delete_social({{ i }})" href="#"><i class="bi bi-trash"></i></a>
                        <span class="ms-2 text-primary">{{ socials_list[i][1] }}</span>
                    </li>
                    {% endfor %}
                    <li class="list-group-item">
                        <input class="form-control form-control-md text-primary" placeholder="Contact info" id="contact-info">
                        <select name="icons" id="icons" class="form-select">
                            <option value="bi-globe">Default</option>
                            <option value="bi-discord">Discord</option>
                            <option value="bi-instagram">Instagram</option>
                            <option value="bi-facebook">Facebook</option>
                            <option value="bi-google">Google</option>
                            <option value="bi-youtube">Youtube</option>
                        </select>
                        <a class="btn btn-primary text-light" onclick="add_social()">
                            Save All <i class="bi bi-save"></i>

                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h2 class="mt-3">Leadership</h2>
    <div class="row pt-3 px-md-2 px-lg-4 row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-4 g-3 g-md-5">
        {% for i in range(0, leaders_len) %}
        <div class="col">
            <div class="card shadow rounded-pill" style="border:0px">
                <div class="d-flex align-items-center ps-2">
                    <div style="width:60px;height:60px" class="text-center rounded-pill bg-info">
                        <h3 style="margin-top:23%" class="text-white"><a onclick="delete_leadership({{ i }})" href="#"><i class="bi bi-trash"></i></a></h3>
                    </div>
                    <div>
                        <div class="card-body">
                            <small class="text-secondary mb-1">{{ leaders_list[i][1] }}</small>
                            <h6 class="card-title mb-0">{{ leaders_list[i][0] }}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="col">
            <div class="card shadow rounded-pill" style="border:0px">
                <div class="d-flex align-items-center ps-2">
                    <div style="" class="text-center rounded-pill bg-info">
                        <h3 style="margin-top:23%;marging-right:10px;min-width:100%" class="text-white"><a onclick="add_leadership()" href="#"><i class="bi bi-check-square"></i></a></h3>
                    </div>
                    <div>
                        <div class="card-body">
                            <input class="form-control form-control-md text-secondary" placeholder="Role" id="leader-role">
                            <input class="form-control form-control-md" placeholder="Name" id="leader-name">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-5">
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted">Questions? Email <b>aryavratmishra007@gmail.com</b></p>
        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="/explore" class="nav-link px-2 text-muted">Explore</a></li>
            <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">About</a></li>
            <li class="nav-item">
                <p class="nav-link px-2 text-decoration-none opacity-75">Credit: Aryavrat Mishra</p>
            </li>
        </ul>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

<script>
    var clubId = "{{ club_id }}";
        $(document).ready(function(){
        $('#uploadImage').submit(function(event){
            if ($('#uploadFile').val()){
                event.preventDefault();

                var formData = new FormData(this);
                formData.append('club_id', clubId);

                $('#loader-icon').show();
                $('#targetLayer').hide();

                $.ajax({
                    url: '/upload/'+clubId,  // Replace with the actual URL for your upload endpoint
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    beforeSend: function(){
                        $('.progress-bar').width('50%');
                    },
                    xhr: function(){
                        var xhr = $.ajaxSettings.xhr();
                        xhr.upload.onprogress = function(event) {
                            if (event.lengthComputable) {
                                var percentageComplete = (event.loaded / event.total) * 100;
                                $('.progress-bar').animate({
                                    width: percentageComplete + '%'
                                }, {
                                    duration: 1000
                                });
                            }
                        };
                        return xhr;
                    },
                    success: function(data){
                        $('#loader-icon').hide();
                        $('#targetLayer').show();
                        $('#targetLayer').append(data.htmlresponse);
                    }
                });
            }
            return false;
        });
    });
        function add_leadership() {
            var leaderRole = $('#leader-role').val();
            var leaderName = $('#leader-name').val();
            console.log({leader_role: leaderRole, leader_name: leaderName, club_id: clubId})
            $.ajax({
                url: '/add_leadership',
                type: 'GET',
                data: {leader_role: leaderRole, leader_name: leaderName, club_id: clubId},
                success: function(response) {
                    window.location.reload(true);
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }
    function add_social() {
            var contactInfo = $('#contact-info').val();
            var iconName = document.getElementById("icons").value;
            $.ajax({
                url: '/add_social',
                type: 'GET',
                data: {contact_info: contactInfo, icon_name: iconName, club_id: clubId},
                success: function(response) {
                    location.reload();
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }
        function delete_social(socialIndex) {
            $.ajax({
                url: '/delete_social',
                type: 'GET',
                data: {social_index: socialIndex, club_id: clubId},
                success: function(response) {
                    location.reload();
                },
                error: function(error) {
                    location.reload();
                }
            });
        }
        function delete_leadership(leaderIndex) {
            $.ajax({
                url: '/delete_leadership',
                type: 'GET',
                data: {leader_index: leaderIndex, club_id: clubId},
                success: function(response) {
                    location.reload();
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }
        function update_all() {
        var description = $('#description').val();
        var name = $('#club-name').val();
        var new_meeting = $('#meeting-dates').val();
        var club_slogan  = $('#club-slogan').val();
        console.log(name)
        var regex = /[!@#$%^&*()_+\-=\[\]{};':"\|,.<>\/?]+/g
        var new_club_id = name.replace(regex, '').replace(/[_\s]/g, '-');
            $.ajax({
                url: '/update_all',
                type: 'GET',
                data: {description:description,club_name:name,meeting: new_meeting,club_id: clubId,club_slogan:club_slogan},
                success: function(response) {
                if(name === ""){
                    window.location.replace("/view/"+clubId);
                }
                else{
                    window.location.replace("/view/"+new_club_id);
                }
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }
</script>
</body>
</html>